<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>

        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync" />

        <service
            android:name="com.nevidimka655.tink_lab.io.gromif.tink_lab.presentation.work.TinkLabFilesWorker"
            android:foregroundServiceType="dataSync"
            tools:ignore="Instantiatable" />

    </application>

</manifest>